<?xml version="1.0" encoding="UTF-8"?>
	<web-app>
		<servlet>
			<servlet-name>Search</servlet-name>
			<servlet-class>
			com.service.searcher
			</servlet-class>
			<load-on-startup>22</load-on-startup>
		</servlet>
		<servlet-mapping>
			<servlet-name>Search</servlet-name>
			<url-pattern>/Search</url-pattern>
		</servlet-mapping>
	</web-app>